<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="logo"
         src="assets/logo.png"
         alt="FreedomBird">

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="home"
                   routerLinkActive="active">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   routerLinkActive="active"
                   routerLink="search">
                    Search
                </a>
            </li>
        </ul>
    </div>
</nav>