table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto;
}

.col-2 mat-card {
  text-align: center;
  max-height: 50px;
}

.brand-logo {
  max-height: 50px;
  width: auto;
}

