<div class="modal-header">
    <h4 class="modal-title pull-left">
        {{ title }}
    </h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="bsModalRef.hide()">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
<div class="modal-body">
    <div [formGroup]="form">
        <div class="row">
            <div class="form-group col">
                <label for="name">
                    Name
                </label>
                <input type="text"
                       class="form-control"
                       id="name"
                       aria-describedby="nameHelp"
                       placeholder="by Name"
                       formControlName="name">
                <small id="nameHelp"
                       class="form-text text-muted">
                    Search by criteria Name.
                </small>
            </div>
            <div class="form-group col">
                <label for="brand">
                    Company
                </label>
                <input type="text"
                       class="form-control"
                       id="brand"
                       aria-describedby="brandHelp"
                       placeholder="by Brand"
                       formControlName="brand">
                <small id="brandHelp"
                       class="form-text text-muted">
                    Search by criteria Brand.
                </small>
            </div>
            <div class="form-group col">
                <label for="kind">
                    Kind
                </label>
                <input type="text"
                       class="form-control"
                       id="kind"
                       aria-describedby="kindHelp"
                       placeholder="by Kind"
                       formControlName="kind">
                <small id="kindHelp"
                       class="form-text text-muted">
                    Search by criteria kind.
                </small>
            </div>
        </div>
    </div>
    <view-table [model]="modelFavs"
                [config]="{delete: true}"
                [headers]="config?.headers"
                (delete)="deleteFav($event)"></view-table>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            (click)="onClose()">
        {{ config?.buttons?.close?.text || 'Close' }}
    </button>
</div>
