<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link"
                (click)="openModal()">
                <button class="btn btn-light">
                    Favourites
                    <fa-icon [icon]="iconSearch"></fa-icon>
                </button>
            </li>
        </ul>
    </div>
</nav>