<div *ngIf="!!dataSource?.filteredData?.length; then hasModel else emptyModel"></div>

<ng-template #emptyModel>
    <div class="alert alert-info"
         role="alert">
        Favourite list its <strong>empty</strong>
    </div>
</ng-template>

<ng-template #hasModel>

    <table mat-table
           class="table-responsive-md"
           [dataSource]="dataSource"
           matSort>

        <ng-container matColumnDef="brand-image">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
            </th>
            <td mat-cell
                *matCellDef="let row">
                <mat-card class="brand">
                    <img class="brand-logo"
                         mat-card-image
                         src="assets/brands/brand_{{ row.brand | lowercase }}.png"
                         alt="{{row.name}}">
                </mat-card>
            </td>
        </ng-container>

        <ng-container matColumnDef="favourite">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
            </th>
            <td mat-cell
                *matCellDef="let row"
                (click)="setFavourite(row.id)">
                <fa-icon [icon]="favIcon"
                         [ngStyle]="{ color: (favsList.includes(row.id)) ? 'green' : 'lightgrey' }"></fa-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
                Name
            </th>
            <td mat-cell
                *matCellDef="let row">
                {{ row.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="brand">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
                brand
            </th>
            <td mat-cell
                *matCellDef="let row">
                {{ row.brand }}
            </td>
        </ng-container>

        <ng-container matColumnDef="kind">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
                kind
            </th>
            <td mat-cell
                *matCellDef="let row">
                <mat-card class="kind">
                    <img class="brand-logo"
                         mat-card-image
                         src="assets/kinds/kind_{{ row.kind | lowercase }}.png"
                         alt="{{row.kind}}">
                </mat-card>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header>
                price
            </th>
            <td mat-cell
                *matCellDef="let row">
                {{row.price}}
            </td>
        </ng-container>

        <ng-container *ngIf="config?.delete"
                      matColumnDef="delete">
                <th mat-header-cell
                    *matHeaderCellDef>
                </th>
                <td mat-cell
                    *matCellDef="let row"
                    (click)="deleteFav(row.id)">
                    <fa-icon [icon]="favDelete"></fa-icon>
                </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</ng-template>