<pre-header [model]="favsSelected"
            (returnFavs)="onModalClose($event)"></pre-header>
<div class="container">
    <div [formGroup]="form"
         class="form-group">
        <div class="row">
            <div class="form-group col">
                <label for="name">
                    Name
                </label>
                <input type="text"
                       class="form-control"
                       id="name"
                       aria-describedby="nameHelp"
                       placeholder="by Name"
                       formControlName="name">
                <small id="nameHelp"
                       class="form-text text-muted">
                    Search by criteria Name.
                </small>
            </div>
            <div class="form-group col">
                <label for="brand">
                    Company
                </label>
                <input type="text"
                       class="form-control"
                       id="brand"
                       aria-describedby="brandHelp"
                       placeholder="by Brand"
                       formControlName="brand">
                <small id="brandHelp"
                       class="form-text text-muted">
                    Search by criteria Brand.
                </small>
            </div>
            <div class="form-group col">
                <label for="kind">
                    Kind
                </label>
                <input type="text"
                       class="form-control"
                       id="kind"
                       aria-describedby="kindHelp"
                       placeholder="by Kind"
                       formControlName="kind">
                <small id="kindHelp"
                       class="form-text text-muted">
                    Search by criteria kind.
                </small>
            </div>
        </div>
    </div>
    <view-table #viewTable
                [model]="modelTable"
                (favs)="onFavsSelected($event)"></view-table>
</div>